<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div>
    <b>Вакансия: {{.Vacancy.Title }} </b>
</div>
<div>
    <b>Заявитель: {{.User.Human.GetFullName }} </b>
</div>
<div>
    <b>Сопроводительное письмо: {{.CoverLetter }} </b>
</div>
</body>
</html>