{{ template "_header"}}
    <div>
        Статус вашей заявки изменён.
    </div>
    <div>
        <b>Статус: {{.FormValue.FormStatus.Label }} </b>
    </div>
    <hr>
    <div>
        Для доступа к личному кабинету необходимо авторизироваться в системе
    </div>
    <div>
        <a href="{{.Host}}">Ссылка на сайт больницы</a>
    </div>
{{ template "_footer"}}